/* * {
    margin: 0;
    padding: 0;
} */

.main_content {
    background-color: #242526;
    color: #e4e6eb;
    width: 76%;
    height: 400px;
    margin: 0px auto;
    border-radius: 7px;
}

.path {
    display: flex;
    margin-left: 20px;


}
img {
    margin-top: 2%;
}
.path-top {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;

}

.main_name {
    display: flex;
    margin: 20px 20px;
    margin-bottom: 20px;


}

.detfil-tiltel {
    font-size: 18px;
}

.chapper-control {
    text-align: center;
}

.boxx2 {
    margin-top: 20px;
}

.ser {
    background: rgb(55, 195, 238);
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.4s;


}

.ser:hover {
    background-color: rgb(221, 65, 83);
}

.boxx3 {
    margin-top: 30px;

}

.boxx3 a {
    background-color: yellow;
    padding: 6px 8px;
    border-radius: 8px;
    color: rgb(104, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.boxx4 {

    background: rgb(212, 195, 195);
    width: 90%;
    color: #242526;
    margin: 0px auto;
    border-radius: 8px;
    padding: 20px 10px;
    margin-top: 20px;
}
.boxx5{
    margin-top: 20px;
}

.bons {
    background-color: rgb(47, 116, 116);
    margin-left: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.4s;
}

.bons:hover {
    background: whitesmoke;
    color: #242526;
}

.chaper-container {
    margin-top: 50px;
    text-align: center;
}

.chaper-container img {
    box-shadow: 0px 0px 17px 2px rgba(255, 10, 67, 0.6);
}