@media (min-width: 992px) and (max-width: 1200px) {
     .nab--content {
        display: block;
    }

    .nab--image {
        align-items: center;
    }

    .nab--plot {
        margin: 0px auto ;
     } 
}

@media (min-width: 768px) and (max-width: 992px) {

    .ContenNew {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 21px;
        margin-left: 7%;
        margin-right: 11%;
    }

    .schedule .schedule-inner {
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        border-radius: 5px;
        display: flex;
        padding: 20px 15px 15px 20px;
        margin-top: 2%;
        width: 36.5%;
        margin-left: 11%;
        margin-bottom: 1%;
    }

    .nab--content {
        display: block;
    }

    .nab--image {
        text-align: center;
    }

    .nab--plot {
        margin: 0px auto
    }

    .blog-action {
        padding: 10px 30px;
    }

    /* 
    body {
        background-position-y: -80px;
        font-size: 12px;
    }
    .interviewleft {
        width: 67%;
        margin-right: 10%;
    } */

}

@media (min-width: 576px) and (max-width: 768px) {
    .ContenNew {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 6px;
        margin-left: 8%;
        margin-right: 11%;
    }

    .ContentNewm {
        display: flex;
        padding: 16px 0px;
        color: #3f94d5;
        margin-left: 8%;
        font-size: 20px;
    }

    .schedule .schedule-inner {
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        border-radius: 5px;
        display: flex;
        padding: 20px 15px 15px 20px;
        margin-top: 2%;
        width: 28.5%;
        margin-left: 8%;
        margin-bottom: 1%;
    }

    .interviewleft {
        width: 89%;
        margin-right: 10%;
    }

    body {
        background-position-y: -80px;
        font-size: 11px;
    }

    .nab--content {
        display: block;
    }

    .nab--image {
        text-align: center;
    }

    .nab--plot {
        margin: 0px auto;

    }

    .blog-action {
        margin-bottom: 10px;
        margin-top: 20px;

    }

    .blog-fl {
        margin-bottom: 10px;
    }

    .blog {
        display: grid;
        text-align: center;
        width: 50%;
        margin: 0px auto;
    }

    .blog li {
        margin-left: 0px;
    }

    .interview {
        display: block;
    }

    .interviewleft {
        font-size: 16px;
        margin: 0px auto;
    }


}


@media (min-width: 370px) and (max-width: 576px) {
    .ContenNew {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 8px;
        margin-left: 7.5%;
        margin-right: 8%;
    }

    .Content--text {
        margin-left: 15%;
    }

    .schedule .schedule-inner {
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        border-radius: 5px;
        display: flex;
        padding: 20px 15px 15px 20px;
        margin-top: 2%;
        width: 21%;
        margin-left: 11%;
        margin-bottom: 1%;
        display: none;
    }

    .interviewleft {
        width: 44%;
        margin-right: 10%;
        display: none;
    }

    .nab--content {
        display: block;
    }

    .nab--image {
        text-align: center;
    }

    .nab--plot {
        margin: 0px auto;

    }

    .blog-action {
        margin-bottom: 10px;
        margin-top: 20px;

    }

    .blog-fl {
        margin-bottom: 10px;
    }

    .blog {
        display: grid;
        text-align: center;
        width: 50%;
        margin: 0px auto;
    }

    .blog li {
        margin-left: 0px;
    }

    .interview {
        display: block;
    }

    .interviewleft {
        font-size: 16px;
        margin: 0px auto;
    }


    /* .interviewright--text {
        text-decoration: none;
        color: black;
        display: none; */
    /* }
    .ContentMore1 {
        padding: 12px 20px;
        background-color: #f18121;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 400;
        margin-left: -22%;
    } */
    /* .schedule .schedule-inner {
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        border-radius: 5px;
        display: flex;
        padding: 20px 15px 15px 20px;
        margin-top: 2%;
        width: 21%;
        margin-left: 11%;
        margin-bottom: 1%;
        display: none;
    } */

    .nab--content {
        display: block;
    }

    .nab--image {
        text-align: center;
    }

    .nab--plot {
        margin: 0px auto;
        ;
    }

    .blog-action {
        margin-bottom: 10px;
        margin-top: 20px;

    }

    .blog-fl {
        margin-bottom: 10px;
    }

    .blog {
        display: grid;
        text-align: center;
        width: 50%;
        margin: 0px auto;
    }

    .blog li {
        margin-left: 0px;
    }

}