 @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#ebebeb ;
}
.narbar--option1:hover{
    background-color: rgb(134, 177, 134);
}
a {
    cursor: pointer;
    text-decoration: none!important;
    color: inherit;
}
.slide-row {
    width: 78%;
    margin-left: 10.5%;
}
.narbar--menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    padding: 10px 0px;
    width: 100%;
}
.narbar--menuright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    font-family: inherit;
    margin-left: -8px;
}
.narbar--menuleft {
    width: 14%;
    display: flex;
    justify-content: space-between;
}
.narbar--menuleft__Dk,.narbar--menuleft__Dn{
    background-color: #3F94D4;
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    padding: 1px 6px;
    height: 35px;
    width: 90px;
    border: none;
    margin-left: 8px;
    transition: 0.4s ease-in-out;
}
.narbar--menuleft__Dk:hover,.narbar--menuleft__Dn:hover {
    background-color: rgb(88, 0, 230);
    border: 1px solid rgb(88, 0, 230);
}
.narbar--menuright__search {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    color: #757575;
    padding: 0 45px 0 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}
.narbar--menu__light {
    border: 1px solid #f18121;
    height: 44px;
    width: 44px;
    margin-top: 0px;
    border-radius: 150px;
}
.narbar--menu__lighticon {
    margin-top: 12px;
    margin-left: 13px;
    font-size: 18px;
}

.narbar--option {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center;
    font-size: 17px;
    width: 100%;
    /* height: 50px; */
    /* background-color: #f18121; 
}
.narbar--option1 {
    /* padding: 0px 13px; */
    /* padding: 13px;
    margin-left: 159px;
    margin-right: -172px;
    color: white;
    font-weight: 400;
    font-family: inherit; */
    /* height: 40px; */
    /* margin-top: 21px; */
/* } */
/* .ContentHot {
    display: flex;
    padding: 16px 0px;
    color: #ff2853;
    margin-left: 11%;
    font-size: 20px;
}
.ContentNewm {
    display: flex;
    padding: 16px 0px;
    color: #3f94d5;
    margin-left: 11%;
    font-size: 20px;
}
.ContenNew {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 19px;
    margin-left: 167px;
    margin-right: 220px;
}

i.fa-solid.fa-greater-than {
    margin-left: 6px;
    margin-top: 1px;
}

.Truyen {
    width: 178px;
    height: 230px;
}

.TenTruyen {
    text-decoration: none;
    color: black;
    width: 50px;
    font-weight: 600;
    text-align: center;
}    */

.nab--plot  {
    background-color: #d4cac1;
    box-shadow: 0px 0px 17px 2px rgba(228, 123, 123, 0.8);
    width: 80%;
    margin: 0px auto;
    padding: 30px 20px  ;
    
}
.nab--content{
    display: flex;
    padding-top: 20px;
}

.nab--image img {
    border-radius: 7%;
    box-shadow: 0px 0px 17px 2px rgba(2, 1, 1, 0.8);
   
}

.nab--box ,.nab--text   {
    padding-left: 30px;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif; 
    line-height: 2.2em;
    

}
.nab--box ,.nab--text,h2 {
    font-size: 15px;

}
.nab--text {
    font-size: 10px;
   
}

.nab--home {
    display: flex;
    font-weight: 600;
    font-size: 18px;

}

.nab--Other h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif; 

}

.nab--Other ,.nab--author,.nab--Condition,.nab--Likes ,.nab--Followers,.nab--Views
 {
    display: flex;
    font-weight: 500;

}
.nab--box h2 {
    margin-left: 18px;
    
}
.nab--menu--pr .prom{
    display: flex;
    margin-left: 18px;
   

}
.prom-action{
    margin-top: 10px;
}
.prom-action a {
    margin-left: 10px  ;
    border: 2px solid #f18121;
    padding: 5px 10px;
    border-radius: 6px;
    color: black;
    transition: all 0.3s ease-in;
    
}
.prom-action a:hover{
    background-color: #f18121;
}
.blog{
    display: flex;
    margin-top: 20px;
}
.blog li {
    margin-left: 20px;
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.3s ease-in;
   
}
.blog li:hover{
    opacity: 0.5;
}
 .blog li a {
    color :black;
}
.blog-action{ 
    background-color:yellowgreen;
    padding: 10px 35px;
    
}
.blog-fl{
     background-color:rgb(223, 15, 63);
     padding: 10px 40px;
   
    }
.blog-like{ 
    background-color:rgb(200, 4, 240);
    padding: 10px 50px;
   
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.story-detail{
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 10px;
    font-weight:500;
}
ul li{
    text-decoration: none ;
    list-style: none ;
}
.list-trap {
    border: 2px solid rgb(254, 255, 254);
    border-radius: 8px;
    margin-top: 10px;
}
.list-item{
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 15px 10px ;
    color: #000000;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
}
