body {
    background-position-y: -80px;
    font-size: 16px;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
}
#form-login {
    max-width: 380px;
    background: white;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(231, 51, 51, 0.8);
    height: 320px;
    line-height: 20px;
}
.form-heading {
    font-size: 25px;
    color: rgb(7, 11, 11);
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace
}

.form-group {
    border-bottom: 1px solid rgb(160, 36, 36);
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    

}

.form-group i {
    color: rgb(7, 11, 11);
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    opacity: 0.7;
    color: rgb(7, 11, 11);
    flex-grow: 1;
}

.form-input::placeholder {
    color: rgb(7, 11, 11);
}

#eye i {
    padding-right: 0;
    cursor: pointer;
}

.form-submit {
    background: transparent;
    border: 1px solid #e72d2d;
    color: rgb(7, 11, 11);
    width: 30%;
    text-transform: uppercase;
    padding: 10px 10px;
    transition: 0.20s ease-in-out;
    margin-top: 20px;

}
.form-submit a {
    color: rgb(7, 11, 11);
    text-decoration: none ;
}

.form-register {
    margin-top: 60px;
    margin-left: 20px;
}

.form-submit:hover {
    border: 1px solid #54a0ff;
    background-color: rgb(158, 255, 105);
}


.form-fg {
    display: flex;
    color: #0d0404;
    font-size: 20px;
    justify-content: center;

}

.form-facebook {
    background-color: #54a0ff;
    padding: 10px 10px;
    border-radius: 20px;
}

.form-google {
    background-color: #ff5465;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 10px;
}
