
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#ebebeb ;
}
.narbar--option1:hover{
    background-color: rgb(134, 177, 134);
}
a {
    cursor: pointer;
    text-decoration: none!important;
    color: inherit;
}
.slide-row {
    width: 78%;
    margin-left: 10.5%;
}

/* Đoạn Trí code */
.narbar--menu__parent{
    display: flex; 
    align-items: center;
    flex-direction:column; 
    justify-content: center;
    margin-bottom:15px;
}

.narbar--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 10px 0px;
    width: 1200px;
}
.narbar--menuright{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-family: inherit;
    margin-left: 0px;
}
.narbar--menuleft {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.narbar--menuleft a{
    width: 40%;
}
.narbar--menuleft__Dk,.narbar--menuleft__Dn{
    background-color: #3F94D4;
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    padding: 1px 6px;
    height: 35px;
    width: 100%;
    border: none;
    margin-left: 8px;
}
/*Đến đây*/ 

.narbar--menuright__search {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    color: #757575;
    padding: 0 45px 0 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}
#narbar--menu__light {
    border: 1px solid #f18121;
    height: 44px;
    width: 44px;
    margin-top: 0px;
    border-radius: 150px;
    background-color: #ebebeb;
    margin: 0px 15px;
}
.narbar--menu__lighticon {
    margin-top: 12px;
    margin-left: 13px;
    font-size: 18px;
    cursor: pointer;
}


/*Đoạn Trí code*/
#narbar--option__parent{
    background-color: #f18121; 
    display: flex; 
    justify-content:center;
}
#narbar--option {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 15px;
    width: 1200px;
    /* height: 50px; */
}
#narbar__option--hide {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    font-size: 15px;
    width: 90%;
    background-color: #f18121;
}
.narbar--option1 {
    /* padding: 0px 13px; */
    padding: 13px;
    color: white;
    font-weight: 400;
    font-family: inherit;
    width:10%;
    /* height: 40px; */
    /* margin-top: 21px; */
}
.home--page{
    width:10%;
    display:flex;
    justify-content: space-between;
}

.home--page a{
    align-items: center;
    display: flex;
}
#narbar--hide__option{
    width: 30px;
    height:30px;
    display: none;
}
.narbar--hide--true__option{
    background-image: url(../images/narbar__hide--option.PNG);
    background-size: 60px 30px;
    background-position: 0px;
}

.narbar--hide--false__option{
    background-image: url(../images/narbar__hide--option.PNG);
    background-size: 60px 30px;
    background-position: 30px;
}
/*Đến đây*/

.ContentHot {
    display: flex;
    padding: 16px 0px;
    color: #ff2853;
    margin-left: 11%;
    font-size: 20px;
}
.ContentNewm {
    display: flex;
    padding: 16px 0px;
    color: #3f94d5;
    margin-left: 11%;
    font-size: 20px;
}
.ContenNew {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 21px;
    margin-left: 11%;
    margin-right: 14%;
}
i.fa-solid.fa-greater-than {
    margin-left: 6px;
    margin-top: 1px;
}
.Truyen{
    width: 178px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 2px rgba(21, 6, 6, 0.3);

}
.TenTruyen {
    text-decoration: none;
    color: black;
    width: 50px;
    font-weight: 600;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.ContentMore {
    margin-left: 42%;
    margin-top: 14px;
}
.ContentMore1{
    padding: 12px 20px;
    background-color: #f18121;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.endTab {
    background-color: #f18121;
    height: 4px;
    margin-top: 14px;
}
.interview {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5%;
}
.interview--Dl{
    width: 150px;
    height: 44px;
}
.interviewright1 {
    margin-top: 8px;
}
.interviewright--text{
    text-decoration: none;
    color: black;
}
.interviewleft--theLoai {
    display: flex;
    margin-top: 14px;
}
.interviewleft--theLoai2 {
    text-decoration: none;
    color: black;
    margin-right: 9px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.narbar--option1{
    text-align: center;
}
.interviewright {
    width: 40%;
    margin-left: 8%;
}

.interviewleft {
    width: 34%;
    margin-right: 10%;
}

.interviewleft--text {
    margin-top: 12px;
}
img {
    align-items: center;
    /* margin-left: 14%; */
}
.alert-note {
    margin-bottom: 10px;
    font-size: 15px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: rgb(33, 150, 243);
    background-color: rgb(255, 255, 255);
    margin-left: 11%;
    width: 77%;
    margin-top: 1%;
}
a.vpn {
    color: olivedrab;
}
.Content--icon {
    margin-left: 5px;
}
.ContenNew{
    text-align: center;
}
.schedule .schedule-inner {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    display: flex;
    padding: 20px 15px 15px 20px;
    margin-top: 2%;
    width: 78.5%;
    margin-left: 11%;
    margin-bottom: 1%;
}
.schedule .time {
    flex: 0 0 120px;
    background-color: rgba(241, 129, 33, .7);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px;
    margin-right: 15px;
}
.schedule .schedule-list li a strong.hot {
    color: #00bf8f ;
}
strong {
    color: #00bf8f;
}
i.fa-regular.fa-lightbulb {
    margin-right: 12px;
}


/* Đoạn Trí Sửa */
@media(max-width:1100px){
    .narbar--menu{
        width:100%;
        justify-content:space-between;
    }
    .narbar--menuright
    {
        margin:5px;
        width:50%;
    }
    .narbar--menuleft
    {
        width:25%;
        justify-content:space-around;
    }
    
    
}

@media(max-width:767px){
    .narbar--menu{
        width:100%;
    }
    .narbar--menuleft
    {
        width:25%;
        justify-content:space-around;
    }
    .narbar--menuright{
        width:30%;
        justify-content:space-between;
    }
    .top_search{
        width:100% !important;
    }
    #narbar--option {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        font-size: 15px;
        width: 100%;
        /* height: 50px; */
        background-color: #f18121;
        position: relative;
    }
    #narbar__option--hide{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        display:none;
    }
    .narbar--option1{
        width:100%;
        text-align:start;
        display:flex;
        justify-content: space-between;
    }
    #narbar--hide__option{
        display:block;
    }
}

@media(min-width:768px){
    #narbar__option--hide{
        display:flex !important;
    }
    
}
@media(max-width:369px){
    .narbar--menu{
        display:flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .narbar--menu__parent {
        align-items: flex-start;
    }
    .narbar--menuleft {
        width:50%;
        display:flex;
        flex-direction: column;
    }
}
/*Đến đây*/

